.color__body{
  max-width: 100%;
  max-height: 100%;
  padding: 44vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 10px;
}
.color__nex{
  outline: none;
  padding: 10px;
}

.color_rgb{
  color:#fff;
  font-weight: 700;
  border:  1px solid;
  padding: 10px 40px;
}

.color__err{
  color: #fff;
  padding: 10px 40px;
  font-weight: 700;
  background-color: red;
  border:  1px solid red;
}
